<div>
    <h1>Contact</h1>
    <h2 class="title-margin">{{site.author.name}}</h2>
    <p> 
      <a href="mailto:{{author.author.email}}?Subject=Hello"> <span class="glyphicon glyphicon-envelope"></span>  {{cv.author.email}}</a>
    </p>
    <p> <span class="glyphicon glyphicon-map-marker"></span>  {{site.author.address}}</p>
    <p><span class="glyphicon glyphicon glyphicon-earphone"></span>  {{site.author.phone}}</p>
  </div>