<div>
  <div>
    <h1>Curriculum Vitae</h1>
    <h2 class="title-margin">{{cv.author.name}}</h2>
    <p> 
      <a href="mailto:{{cv.author.email}}?Subject=Hello"> <span class="glyphicon glyphicon-envelope"></span>  {{cv.author.email}}</a>
    </p>
    <p> <span class="glyphicon glyphicon-map-marker"></span>  {{cv.author.address}}</p>
    <p><span class="glyphicon glyphicon glyphicon-earphone"></span>  {{cv.author.phone}}</p>
  </div>
  <div>
    <h2 class="title-margin">Exhibitions</h2>

      <ul class="list-unstyled">
      {{# each cv.exhibitions}}
        <li>
          <div>
          <p> <strong>{{this.title}}</strong>, <em>{{this.location}}</em>, {{this.dates}}</p>
          </div>
        </li>
      {{/ each}}
      </ul>
  </div>
</div>
