<div>
  <div>
    {{#each document.body.images}}
      {{this.title}}
      <img src="{{this.file}}" alt="">
    {{/each}}
  </div>

  <div>
    {{#each document.body.videos}}
      {{{this.code}}}
    {{/each}}
  </div>

  <h1>{{document.title}}</h1>

  <p>{{document.body.description}}</p>

  <p>{{document.body.date}}</p>
  
  <ul>
    {{#each document.body.links}}
      <li><a href="{{this.url}}">{{this.name}}</a></li>
    {{/each}}
  </ul>
</div>