<div> <h2>{{document.title}}</h2></div>
<div>

    {{#each document.body.images}}
      <div class="project-img">
        <img src="{{this.file}}" alt="" class="img-responsive full-width">
      </div>
      {{#if_eq @index compare=0}}

      {{/if_eq}}

    {{/each}}
  <div>
    {{#each document.videos}}
      {{{this.code}}}
    {{/each}}
  </div>

  <div>
    <p> <strong>{{document.body.date}}</strong><p>
    <p>{{document.body.description}}</p>
 </div>

  <h3>links</h3>
  <ul>
    {{#each document.body.links}}
      <li><a href="{{this.url}}">{{this.name}}</a></li>
    {{/each}}
  </ul>
</div>
