<div>
  <div>
    {{#each document.images}}
      {{this.title}}
      <img src="/{{this.file}}" alt="">
    {{/each}}
  </div>

  <div>
    {{#each document.videos}}
      {{{this.code}}}
    {{/each}}
  </div>

  <h1>{{document.title}}</h1>

  <p>{{{document.description}}}</p>

  <p>{{document.date}}</p>

  <ul>
    {{#each document.links}}
      <li><a href="{{this.url}}">{{this.name}}</a></li>
    {{/each}}
  </ul>
</div>
