<div>
  <div>
    {{#each documents.body.images}}
      {{this.title}}
      <img src="{{this.file}}" alt="">
    {{/each}}
  </div>

  <div>
    {{#each documents.body.videos}}
      {{{this.code}}}
    {{/each}}
  </div>
    <div id="ficha-tecnica">
      <h3>{{documents.title}}</h3>

      <p>{{documents.body.description}}</p>

      <p>{{documents.body.date}}</p>
    </div>
  <ul>
    {{#each documents.body.links}}
      <li><a href="{{this.url}}">{{this.name}}</a></li>
    {{/each}}
  </ul>
</div>