<div> <h2>{{document.title_en}}</h2></div>
<div>

    {{#each document.body.images}}
      <div class="project-img">
        <img src="{{this.file}}" alt="" class="img-responsive full-width">
      </div>
      {{#if_eq @index compare=0}}

      {{/if_eq}}

    {{/each}}
  <div>
    {{#each document.videos}}
      {{{this.code}}}
    {{/each}}
  </div>

  <div>
    <p> <strong>{{document.body.date}}</strong><p>
    <p>{{document.body.description_en}}</p>
 </div>
</div>