
<div>
  <h1>{{document.title}}</h1>

  <p>{{document.body.description_en}}</p>

  <p>{{document.body.date}}</p>

  <div>
    {{#each document.body.videos}}
      {{{this.code}}}
    {{/each}}
  </div>

  <div>
    {{#each document.body.images}}
      {{this.title}}
      <img src="{{this.file}}" alt="">
    {{/each}}
  </div>

